//legal-notics
.legal-notics {
  @include full-width;
  .hding-h3 {
    .line {
      height: 2px;
      width: 24px;
      background: #595959;
      margin-top: 4px;
    }

    //top-heading-h3
    h3 {
      font-size: 33px;
      color: #6a2b73;
      font-weight: bold;
      text-transform: uppercase;
      margin: 13px 0px;
      letter-spacing: -0.2px;
      @include mobile-lg {
        font-size: 24px;
      }
      @include minmax-767 {
        font-size: 18px;
      }
    }
  }
  //banner-img
  .banner-img {
    margin: 20px 0px 45px;
  }

  //bien-aticle
  .bien-aticle {
    margin-bottom: 75px;
    p {
      padding: 0;
      word-spacing: -0.2px;
      margin-bottom: 0;
      margin-top: 17px;
    }
    h4 {
      font-size: 21px;
      font-weight: bold;
      color: $purple;
      text-transform: uppercase;
      margin: 20px 0px 0;
    }
  }

}