// Black color
$black: #000000;

//lightblack color
$lightblk: #595959;

// white Color
$white: #fff;

// pinkcolor Color
$pinkcolor : #e02771;

// purple Color
$purple: #6a2b73;

//gray color
$gray: #e6e6e6;

//light-purple
$lightpurple: #698bc7;

//ligth-gray
$lightgry: #e9e9e9;
//Image path
$imageUrl: '../images';

//font path
$fontPath: '../vendor/fonts';

